@charset "UTF-8";

	.visual{
		position: relative;
		width: 120rem;
		height: 20rem;
	
	}

	.image {
		
		width: 100%;
		height: 300px;
	}
	
	.vsTitle{
		position: absolute;
		text-align:center;
		top: 50px;
		left:500px;
		color: white;
		
	}
	
	.mainTitle {
		font-size: 5rem;
	}
	
	.subTitle {
		margin-top: 50px;
	}
	
	.logo {
		width: 35px;
		height: 35px;
	}
	